<template>
  <div id="app">
    <div id="mute" v-if="ajaxUndergoing"><img src="../imgs/805.gif"/></div>
    <div class="heading">
      <h1>Cruds</h1>
    </div>
    <crud-component
    v-for="crud in cruds"
    v-bind="crud"
    :key="crud.id"
    @update="update"
    @delete="del"
    ></crud-component>
    <div>
      <button @click="create">Add</button>
    </div>
  </div>
</template>
<script>
function Crud({ id, color, name}) {
  this.id = id;
  this.color = color;
  this.name = name;
}

export default {
  data() {
    return {
      cruds: [],
      ajaxUndergoing : false,
    }
  },
  methods: {
    async create() {
      this.ajaxUndergoing = true;
      const data = window.axios.get('/api/cruds/create').then((result) => {
        this.ajaxUndergoing = false;
        this.cruds.push(new Crud(result.data));
      });

    },
    async read() {
      this.ajaxUndergoing = true;
      const data= window.axios.get('/api/cruds').then((result) => {
        console.log(result);
        this.ajaxUndergoing = false;
        result.data.forEach(crud => this.cruds.push(new Crud(crud)));
      });

    },
    async update(id, color) {
      this.ajaxUndergoing = true;
      await window.axios.put(`/api/cruds/${id}`, { color }).then((result) => {
        this.ajaxUndergoing = false;
        this.cruds.find(crud => crud.id === id).color = color;
      });
      // Once AJAX resolves we can update the Crud with the new color
    },
    async del(id) {
      this.ajaxUndergoing = true;
      await window.axios.delete(`/api/cruds/${id}`).then((result) => {
        this.ajaxUndergoing = false;
        let index = this.cruds.findIndex(crud => crud.id === id);
        this.cruds.splice(index, 1);
      });

    }
  },
  created() {
    this.read();
  },
}
</script>
<style>
#mute{
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}

#mute img {
  position:absolute;
  top:50%;
  left:50%;
}
</style>
