<template>
  <div id="app">
    <div class="heading">
      <h1>Coucou {{ test }}</h1>
    </div>

    <div>

    </div>
  </div>
</template>
<script>
  function Crud({ id, color, name}) {
    this.id = id;
    this.color = color;
    this.name = name;
  }

  export default {
    data() {
      return {
        test: "Test"
      }
    },
    methods: {

    },
    created() {

    },
    components: {

    }
  }
</script>
<style>
#mute{
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}

#mute img {
  position:absolute;
  top:50%;
  left:50%;
}
</style>
